---
---

@import "theme-globalmarketchest";

:root {
    --main-fg-color: #8f5e69;
    --main-fg-alpha-color: #8f5e6999;
    --main-bg-color: #fbd2a4;
}

html, body {
    height: 100vh;
}
/*
header {
    background-color: blueviolet;
}

main {
    background-color: chocolate;
}

footer {
    background-color: darkcyan;
}
*/
header .navbar {
    background-image: linear-gradient(to right, var(--main-bg-color), #fdf7e9);
}

header .navbar .navbar-brand {
    color: var(--main-fg-color);
}

.nav-pills .nav-link.active {
    background-color: var(--main-fg-alpha-color);
}