<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
      <img src="https://user-images.githubusercontent.com/29657498/75549438-f8a8db80-5a2f-11ea-9e05-e43ff3512a6a.png"
        width="30" height="30" class="d-inline-block align-top" alt="">
      GlobalMarketChest
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" href="/{{site.baseurl}}/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/{{site.baseurl}}/downloads">Downloads</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Changelog</a>
        </li>
      </ul>
    </div>
  </nav>
</header>